.header{
   width: 100%;
   display: flex;
   align-items: center;
}

h1{
   display: inline-block;
   text-align: center;
   margin: 10px;
   vertical-align:50%;
}

hr{
   margin: 10px;
}

img{
   
   margin: 10px;

}
table {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #999;
    width: 25%;
    
 }

 th{
    background-color: #999;
 }
 
 caption {
    font-weight: bold;
    font-style: italic;
 }

 #buscar{
    width: 50%;
    height: 20px;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }